* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #fff;
    --search-bar: #f2f2f2;
    --search-text: #010;
}

body {
    background-color: var(--body-color);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
}

nav .nav-bar{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    margin-left: 20px;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    list-style: none;

}

.nav-links li a{
    position: relative;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-bar li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchBox{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}


.dark-light i,
.searchBox i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchBox i.cancel{
    opacity: 0;
    pointer-events: none;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

.titulito {
    text-align: center;
    font-size: 60px;
    padding-top: 50px;
}

.cajita {
    width: 1200px;
    height: 570px;
    margin: 27px auto 0;
}

.cajita ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.cajita li {
    width: 100%;
    list-style: none;
    position: relative;
}

.textito {
    position: absolute;
    text-align: center;
    align-items: center;
    padding: 0 250px;
    top: 250px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.textito h2 {
    font-size: 53px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.cajita img {
    width: 1200px;
    height: 570px;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

@media (max-width:991px) {
    body {
        padding: 30px;
    }

    .cajita {
        width: 100%;
    }

    .textito {
        font-family: Arial, Helvetica, sans-serif;
        top: 50px;
        padding: 0;
    }

    .textito h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        margin-bottom: 15px;
    }

    .textito p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
}

.scroll {
    position: relative;
    display: flex;
    width: 700px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent,
     #fff 20%,#fff 80%,transparent)
}

.scroll div {
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
}

.scroll div:nth-child(2){
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}

@keyframes animate{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}

@keyframes animate2{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(-200%);
    }
}


.scroll div span{
    display: inline-block;
    letter-spacing: 0.2cm;
    text-transform: uppercase;
    margin: 10px;
    background: #222;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.scroll div span:hover {
    background: rgb(105, 1, 224);
    cursor: pointer;
}

.imgbx img{
    max-width: 100px;
    scale: 0.8;
    filter: grayscale(1);
    max-height: 200px;
    min-height: 200px;
    max-width: 200px;
    min-width: 200px;
}

.imgbx img:hover{
    filter: grayscale(0);
}

.desliza{
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    
}
#ubicacionesList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
button {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    flex: 0 1 calc(30% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
}
button:hover {
    background-color: #e0e0e0;
}
button img {
    max-width: 300px;
    max-height: 300px;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
}